<main>
  <h2>Con Material - Tabla</h2>

  <ng-container *ngIf="showTable">
    <table mat-table [dataSource]="shirts" class="mat-elevation-z8">
      <!-- Position Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Position price -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Precio</th>
        <td mat-cell *matCellDef="let element">
          {{ element.price | currency : "USD" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </ng-container>
  <button
    mat-raised-button
    [color]="showTable ? 'warn' : 'primary'"
    (click)="toggleTable()"
  >
    {{ showTable ? "Ocultar tabla" : "Mostrar tabla" }}
  </button>

  <hr />

  <h2>Sin material - Lista</h2>
  <ng-container *ngIf="showList">
    <ul>
      <li *ngFor="let shirt of shirts">
        <span class="id">{{ shirt.id }}</span>
      <span class="name">{{ shirt.name }}</span>
      <span class="price">{{ shirt.price | currency : "USD" }}</span>
      </li>
    </ul>
  </ng-container>

  <button
    mat-raised-button
    [color]="showList ? 'warn' : 'primary'"
    (click)="toggleList()"
  >
    {{ showList ? "Ocultar lista" : "Mostrar lista" }}
  </button>
</main>
